.maindiv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.firstdiv{
    background: rgba(255, 255, 255, 0.15); /* translucent background */
    backdrop-filter: blur(10px); /* glass blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    margin-top: clamp(120px, 12vw, 240px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height:20vw;
    width:60vw;
 }
